<h1>Esta seguro</h1>
<hr>
<p>Esta apunto de borrar {{ data.superhero }}
  <br>
  ¿Desea continuar?
</p>
<div>
  <button mat-button (click)="borrar()" color="warn">Si, Borrar</button>
  <button mat-button (click)="cerrar()" color="primary">Cancelar</button>
</div>
