<!-- si existe heroe.id que ponga el texto editar y si no que ponga Nuevo-->
<h1>{{
  (heroe.id)
  ? 'Editar'
  : 'Nuevo'
  }} Heroe
  <small>{{ heroe.superhero }}</small>
</h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Super Heroe</mat-label>
        <input matInput required [(ngModel)]="heroe.superhero" />
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput required [(ngModel)]="heroe.alter_ego" />
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Primera Aparicion</mat-label>
      <input matInput required [(ngModel)]="heroe.first_appearance" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Personajes</mat-label>
      <input matInput required [(ngModel)]="heroe.characters" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Creador</mat-label>
      <mat-select
        name="publisher"
        id="publisher"
        [(ngModel)]="heroe.publisher"
        required
      >
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{ publisher.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Foto Url</mat-label>
      <input matInput type="url" [(ngModel)]="heroe.alt_img" />
    </mat-form-field>

    <div fxLayout>
      <button mat-raised-button color="primary" (click)="guardar()">
        <mat-icon>edit</mat-icon> {{
          (heroe.id)
          ? 'Actualizar'
          : 'Crear'
          }}
      </button>
      <!-- para separar -->
      <span class="spacer"></span>
      <!-- el boton se muestra si existe el heroe.id -->
      <button *ngIf="heroe.id" mat-raised-button color="warn" (click)="borrar()">
        <mat-icon>remove</mat-icon>Borrar
      </button>
    </div>
  </div>
  <div fxFlex="50">
    <img [src]="heroe | imagen" />
  </div>
</div>
