<h1>Listado de Heores</h1>
<mat-divider></mat-divider>
<br />
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let heroe of heroes">

    <!-- componente heroe-tarjeta-component -->
    <!-- se envia la variable heroe de ngFor -->
    <app-heroe-tarjeta [data]="heroe"></app-heroe-tarjeta>
  </div>
</div>
