<mat-card>
  <mat-card-header>
    <mat-card-title>{{ data.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ data.alter_ego }}</mat-card-subtitle>
  </mat-card-header>

  <!--<img matCardImage src="assets/heroes/{{ data.id }}.jpg" />-->
  <img matCardImage [src]="data | imagen" />
  <mat-card-content>
    <h3>{{ data.publisher }}</h3>
    <p>
      <strong>Primera Aparición</strong>{{ data.first_appearance }}<br />
      <strong> Personajes: </strong>{{ data.characters }}
    </p>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button color="warn" [routerLink]="[ '/heroes/', data.id ]">Leer mas...</button>
    <button mat-button color="info" [routerLink]="[ '/heroes/editar/', data.id ]">Editar...</button>
  </mat-card-actions>
</mat-card>
