<mat-sidenav-container fullscreen>
    <!-- se le asigna #sidnav-->
      <mat-sidenav #sidnav mode="push">
        <mat-toolbar color="primary">
          <samp>Menú</samp>
          <span class="spacer"></span>
            <button mat-icon-button (click)="sidnav.toggle()">
              <mat-icon class="mat-18">menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
          <!-- (click)="sidnav.toggle()" para que cuando se de click se cierre el menu -->
          <a routerLink="./listado" mat-list-item (click)="sidnav.toggle()">
            <mat-icon mat-list-icon>label</mat-icon>
            <samp>Listado de Heroes</samp>
          </a>
          <!-- (click)="sidnav.toggle()" para que cuando se de click se cierre el menu -->
          <a routerLink="./agregar" mat-list-item (click)="sidnav.toggle()">
            <mat-icon mat-list-icon>add</mat-icon>
            <samp>Añadir Heroe</samp>
          </a>
          <!-- (click)="sidnav.toggle()" para que cuando se de click se cierre el menu -->
          <a routerLink="./buscar" mat-list-item (click)="sidnav.toggle()">
            <mat-icon mat-list-icon>search</mat-icon>
            <samp>Buscar Heroe</samp>
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-toolbar>
        <!-- se utiliza #sidnav cuando se de click se abra el sidenav-->
        <!-- boton del menu del toolbar -->
          <button mat-icon-button (click)="sidnav.toggle()">
            <mat-icon class="mat-18">menu</mat-icon>
          </button>
          <!-- boton para salir -->
          <!-- se pone la clase spacer para que envie el boton al borde, la clase se puso en el styles.css -->
          <span class="spacer"></span>
          <span>{{auth.usuario}}</span>
          <button mat-button (click)="logout()">
            Logout
          </button>
      </mat-toolbar>
      <div class="container">
        <router-outlet></router-outlet>
      </div>

</mat-sidenav-container>
