<div fxLayout="column">
  <div>
    <h1>BUscador de heroes</h1>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="column">
    <h3>Buscador</h3>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Heroe</mat-label>
      <input
        type="text"
        placeholder="Ingrese el heroe"
        aria-label="text"
        matInput
        [(ngModel)]="termino"
        [matAutocomplete]="auto"
        (input)="buscar()"
      />
      <!-- se ejecuta el metodo input para cada ves que escriba se vaya obteniendo el valor -->
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="opcionSeleccionada($event)">
        <mat-option *ngFor="let item of heroes" [value]="item">
          {{ item.superhero}}
        </mat-option>
        <!-- si no hay ninguna condicion en el input -->
        <!-- se valida con otra option si hay datos en el arreglo y en la variable termino para que muestre el mensaje -->
        <mat-option value="" *ngIf="heroes.length === 0 && termino.trim().length>0">
          No se encontro nada con el termino {{ termino }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <pre>{{heroeSelecionado |json}}</pre>
  </div>
</div>
